/Java/MoppyDesk/nbproject/private/
/Java/MoppyDesk/build/
/Java/MoppyDesk/dist/
/Java/MoppySim/nbproject/private/
/Java/MoppySim/build/
/Java/MoppySim/dist/
Java/MoppyDesk/nbproject/build-impl.xml
Java/MoppyDesk/nbproject/genfiles.properties
Java/MoppySim/nbproject/build-impl.xml
Java/MoppySim/nbproject/genfiles.properties